[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pafy = {editable = true,git = "https://github.com/Tim-Jackins/pafy"}

[packages]
discord = "*"
discord-py = {extras = ["voice"],version = "*"}
python-dotenv = "*"
youtube-dl = "*"
requests = "*"

[requires]
python_version = "3.8"
